<h1>Système de recommandations de films avec des méthodes de machine learning : approche 'USER'</h1>

In [13]:
import pandas as pd
import numpy as np

<h5>----------------------------dataset ratings-----------------------------------</h5>

In [14]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [15]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     105339 non-null  int64
 1   movieId    105339 non-null  int64
 2   rating     105339 non-null  float64
 3   timestamp  105339 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.2 MB

<h5>----------------------------dataset movies-----------------------------------</h5>

In [16]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

<h5>----------------------------merge datasets-----------------------------------</h5>

In [17]:
df = pd.merge(ratings, movies,on='movieId', how='inner')
df.head()

   userId  movieId  rating   timestamp          title       genres
0       1       16     4.0  1217897793  Casino (1995)  Crime|Drama
1       9       16     4.0   842686699  Casino (1995)  Crime|Drama
2      12       16     1.5  1144396284  Casino (1995)  Crime|Drama
3      24       16     4.0   963468757  Casino (1995)  Crime|Drama
4      29       16     3.0   836820223  Casino (1995)  Crime|Drama

<h5>---------------------------- Matrice User/movie/rating -----------------------------------</h5>

In [18]:
matrice=df.pivot_table(index ='userId', columns ='title', values ='rating')
matrice

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,2.5,NaN,NaN,NaN,2.0,NaN,3.0,2.5,...,NaN,1.5,0.5,NaN,2.0,NaN,3.5,NaN,2.0,3.0

In [19]:
matrice=matrice.dropna(thresh=50, axis=1)
matrice

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Addams Family Values (1993),...,While You Were Sleeping (1995),Who Framed Roger Rabbit? (1988),Wild Wild West (1999),Willy Wonka & the Chocolate Factory (1971),Witness (1985),"Wizard of Oz, The (1939)",X-Men (2000),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
665,NaN,NaN,NaN,NaN,NaN,NaN,3.5,3.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
666,4.0,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,3.0,2.0,NaN,NaN,3.0,4.0,NaN,NaN,NaN
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN
668,2.0,4.5,3.0,3.5,2.5,4.0,3.0,NaN,NaN,3.0,...,2.0,2.0,2.0,NaN,4.0,5.0,3.0,3.5,3.0,3.0

<h5>------------------------------- Matrice normalisée -----------------------------------------</h5>

In [20]:
matrice_norm=matrice.subtract(matrice.mean(axis=1), axis='rows')
matrice_norm

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),Addams Family Values (1993),...,While You Were Sleeping (1995),Who Framed Roger Rabbit? (1988),Wild Wild West (1999),Willy Wonka & the Chocolate Factory (1971),Witness (1985),"Wizard of Oz, The (1939)",X-Men (2000),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.086957,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.680000,...,-0.680000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,0.780488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.780488,NaN,NaN,NaN,0.780488,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.76087,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.011628,NaN
665,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-0.50000,NaN,NaN,...,NaN,NaN,NaN,0.500000,NaN,NaN,NaN,NaN,NaN,NaN
666,0.154762,1.154762,NaN,NaN,NaN,NaN,0.154762,NaN,NaN,NaN,...,NaN,-0.845238,-1.845238,NaN,NaN,-0.845238,0.154762,NaN,NaN,NaN
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.31250,NaN,NaN,...,-0.812500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.312500,NaN
668,-1.147971,1.352029,-0.147971,0.352029,-0.647971,0.852029,-0.147971,NaN,NaN,-0.147971,...,-1.147971,-1.147971,-1.147971,NaN,0.852029,1.852029,-0.147971,0.352029,-0.147971,-0.147971

<h5>------------------------------- Matrice de similarité entre utilisateurs-----------------------------------------</h5>

In [21]:
matrice_similarity=matrice_norm.T.corr()
matrice_similarity

userId,1,2,3,4,5,6,7,8,9,10,...,659,660,661,662,663,664,665,666,667,668
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000e+00,-0.306186,0.616261,0.434355,-0.094491,0.579821,0.171434,0.420084,0.211289,-1.000000,...,0.054499,0.375769,0.242091,3.493335e-01,0.410803,-0.536212,0.034352,-8.408529e-18,0.147106,0.153047
2,-3.061862e-01,1.000000,0.785714,-1.000000,NaN,NaN,-0.555556,0.302614,0.174078,NaN,...,0.000000,NaN,0.595790,4.003204e-02,0.408248,NaN,0.678401,-5.000000e-01,-1.000000,0.506171
3,6.162612e-01,0.785714,1.000000,-0.250000,0.162938,NaN,-0.201332,1.000000,0.241378,-0.188982,...,0.255742,0.324796,0.730769,0.000000e+00,0.260233,-0.491398,0.484123,4.082483e-01,0.012706,0.255348
4,4.343554e-01,-1.000000,-0.250000,1.000000,NaN,NaN,-0.118798,-1.000000,0.500000,NaN,...,0.170389,1.000000,-0.500000,-2.533726e-17,NaN,NaN,-0.883452,1.294124e-01,0.693722,0.126213
5,-9.449112e-02,NaN,0.162938,NaN,1.000000,-0.571548,0.077671,NaN,-0.158114,NaN,...,-0.444428,NaN,NaN,8.804088e-01,NaN,-0.548611,0.104257,-1.317158e-01,-0.052658,0.077865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664,-5.362124e-01,NaN,-0.491398,NaN,-0.548611,NaN,-0.097391,-0.707107,-0.302708,1.000000,...,0.041724,NaN,0.456435,-5.765567e-01,-0.090909,1.000000,0.174844,-4.090672e-01,-0.353553,-0.384241
665,3.435159e-02,0.678401,0.484123,-0.883452,0.104257,0.196619,0.050225,0.636364,-0.014238,1.000000,...,0.393471,0.207514,0.816497,-3.691752e-01,0.000000,0.174844,1.000000,-4.293742e-01,0.257126,0.406038
666,-8.408529e-18,-0.500000,0.408248,0.129412,-0.131716,0.166091,0.188210,0.408248,0.545545,NaN,...,0.494498,-1.000000,0.174078,8.451543e-02,-0.456435,-0.409067,-0.429374,1.000000e+00,0.461598,0.041440
667,1.471064e-01,-1.000000,0.012706,0.693722,-0.052658,1.000000,0.126471,-0.040032,0.575817,NaN,...,0.549347,0.501847,-0.207514,-1.091089e-01,0.912871,-0.353553,0.257126,4.615978e-01,1.000000,0.283859
668,1.530473e-01,0.506171,0.255348,0.126213,0.077865,-0.047663,-0.050082,-0.181806,0.269280,-0.719676,...,0.086485,0.656846,0.380005,3.038146e-01,0.444202,-0.384241,0.406038,4.143975e-02,0.283859,1.000000

<h5>------------------------------- PREDICTION / RECOMMANDATION POUR UN UTILISATEUR --------------------------------------</h5>

In [22]:
def matrice_norm_cleaned(user):
    
    similar_users=matrice_similarity[[user]].rename(columns={user:'similarity'})

    similar_users=similar_users[similar_users.similarity>0].sort_values(by='similarity', ascending=False)

    similar_users.drop(index=user, inplace=True)
    

    unrated_movies_user=matrice_norm.loc[user].reset_index()
    unrated_movies_user=unrated_movies_user[unrated_movies_user[user].isna()]['title']
    
    similar_users2=similar_users.reset_index()
    matrice_similarity_recommendation=matrice_norm[matrice_norm.index.isin(similar_users2['userId'])]
    matrice_similarity_recommendation=matrice_similarity_recommendation[unrated_movies_user]
    
    
    movie_to_recommend=matrice_similarity_recommendation.dropna(axis=0, how='all')
    
    return similar_users, movie_to_recommend

In [23]:
def get_recommendation(user):
    
    new_recommendation=[]
    
    similar_users, movie_to_recommend = matrice_norm_cleaned(user)

    List_recommendation=pd.DataFrame(columns=["Title", "Prediction - Rating"])
    
    mean_value=matrice.loc[user,:].mean()

    for movie in movie_to_recommend.columns:

        rating_norm=movie_to_recommend[[movie]].dropna().reset_index()

        rating_similarity=pd.merge(rating_norm, similar_users, on='userId')

        rating_similarity['Rating']=rating_similarity.apply(lambda x: (x[movie]*x['similarity']), axis=1)    
        prediction=(rating_similarity['Rating'].sum())/(rating_similarity['similarity'].sum())
        
        prediction+=mean_value

        new_recommendation=[movie, prediction]
        List_recommendation.loc[len(List_recommendation)]=new_recommendation
        
    List_recommendation=List_recommendation.sort_values(by='Prediction - Rating', ascending=False)
    return List_recommendation.head(10)

In [24]:
get_recommendation(1)

                                                 Title  Prediction - Rating
265           Princess Mononoke (Mononoke-hime) (1997)             4.588636
75                                 Citizen Kane (1941)             4.548272
306  Spirited Away (Sen to Chihiro no kamikakushi) ...             4.486511
246             One Flew Over the Cuckoo's Nest (1975)             4.427505
270                                 Rear Window (1954)             4.417228
1                                  12 Angry Men (1957)             4.407107
243                          North by Northwest (1959)             4.406700
271                         Requiem for a Dream (2000)             4.333531
77                 City of God (Cidade de Deus) (2002)             4.331723
110  Dr. Strangelove or: How I Learned to Stop Worr...             4.324631